/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.item-body > p {
    margin-top: 0;
    margin-bottom: 4px;
}

p, span {
    font-weight: normal;
}

.title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.title h1 {
    font-size: 350%;
    color: white;
    text-align: center;
}